@page "{id}"
@model ProjectFinal.Pages.Activates.EditModel
@{
}
<h3>Activate to Edit </h3>

<form method="post">
    <div class="form-group">
        <label asp-for="@Model.customerid "></label>
        <input asp-for="@Model.customerid" class="form-control" />
    </div>
     <div class="form-group">
        <label asp-for="@Model.packageid"></label>
        <input asp-for="@Model.packageid" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.startdate"></label>
        <input asp-for="@Model.startdate" class="form-control" />
    </div>
     <div class="form-group">
        <label asp-for="@Model.enddate"></label>
        <input asp-for="@Model.enddate" class="form-control" />
    </div>
      <div class="form-group">
        <label asp-for="@Model.status"></label>
        <input asp-for="@Model.status" class="form-control" />
    </div>
    
    </div>   <div class="form-group">
        <h6 class="text-success">@Model.SuccessMessage</h6>
        <h6 class="text-danger">@Model.ErrorMessage</h6>
    </div>
    <div>
        <button type="submit" class="btn btn-success">Save</button>
        <a href="/Packages/List" class="btn btn-light" role="button">Cancel</a>
    </div>

    </form>