@page "{id}"
@model ProjectFinal.Pages.Holidays.EditModel
@{
}
<h3>Holiday to Edit @Model.description</h3>

<form method="post">
    <div class="form-group">
        <label asp-for="@Model.description "></label>
        <input asp-for="@Model.description" class="form-control" />
    </div>
     <div class="form-group">
        <label asp-for="@Model.date"></label>
        <input asp-for="@Model.date" class="form-control" />
    </div>
    
    </div>    <div class="form-group">
        <h6 class="text-success">@Model.SuccessMessage</h6>
        <h6 class="text-danger">@Model.ErrorMessage</h6>
    </div>
    <div>
        <button type="submit" class="btn btn-success">Save</button>
        <a href="/Holidays/List" class="btn btn-light" role="button">Cancel</a>
    </div>

    </form>